[submodule "OMEdit"]
	path = OMEdit
	url = https://github.com/traversaro/OMEdit.git
[submodule "doc"]
	path = doc
	url = https://github.com/OpenModelica/OpenModelica-doc.git
[submodule "OMOptim"]
	path = OMOptim
	url = https://github.com/OpenModelica/OMOptim.git
[submodule "OMPlot"]
	path = OMPlot
	url = https://github.com/traversaro/OMPlot.git
[submodule "OMNotebook"]
	path = OMNotebook
	url = https://github.com/traversaro/OMNotebook.git
[submodule "common"]
	path = common
	url = https://github.com/OpenModelica/OpenModelica-common.git
[submodule "libraries"]
	path = libraries
	url = https://github.com/OpenModelica/OMLibraries.git
[submodule "OMC"]
	path = OMCompiler
	url = https://github.com/traversaro/OMCompiler.git
[submodule "testsuite"]
	path = testsuite
	url = https://github.com/OpenModelica/OpenModelica-testsuite.git
[submodule "OMShell"]
	path = OMShell
	url = https://github.com/traversaro/OMShell.git
[submodule "OMSimulator"]
	path = OMSimulator
	url = https://github.com/OpenModelica/OMSimulator.git
